.paginated-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    .button-list{
        display: flex;
        justify-content: space-around;
        min-width: 12em;
        button{
            width: 1.9em;
            height: 1.9em;
            border-radius: .5em;
            border: none;
            transition: 0.2s;
            margin: .5em;
            &:focus{
                background: var(--color-secondary);
                color: white
            }
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
                background-color: #acacac;
            }
        }
    }
    .next-previous{
        border: none;
        background-color: transparent;
        color: #9E9E9E;
        font-weight: 500;
        font-size: 0.75em;
        transition: 0.2s;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}