.container-text{
    width: 100%;
    padding-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    input{
        background-color:  #f0effc;;
        border: none;
        font-size: 1rem;
        &:focus{
            outline:0px;
        }
    }
}