.nav-bar{
    position: fixed;
    background-color: white;
    width: 100%;
    top:0%;
    height: 4.5rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .paginated{
        display: flex;
        align-items: center;
        gap: 0.7rem;
        select{
            width: 2.6rem;
            height: 1.9rem;
            border-radius: 0.4rem;
            text-align: center;
            transition: 0.3s;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
    .input-search{
        width: 20rem;
        height: 1.9rem;
        border-radius: 1rem;
        padding: 1rem;
        border: #E0E0E0 solid 0.15rem;
    }
    .calendar{
        position: relative;
    }
    .date-button{
        width: 8.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        font-size: 1rem;
        border: none;
        background-color: #ffff;
        box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
        display: flex;
        align-items:  center;
        justify-content: space-evenly;
        transition: 0.3s;
        img{
            margin-top: -3px;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .filter{
        position: relative;
    }
    .filter-button{
        width: 5.93rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        font-size: 1rem;
        border: none;
        background-color: #ffff;
        box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.2);
        display: flex;
        align-items:  center;
        justify-content: space-evenly;
        transition: 0.3s;
        img{
            border-radius: 0.7rem 0.7rem ;
            
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .dark-button{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 12px;
        width: 10rem;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: var(--color-secondary);
        color: white;
        border: none;
        display: flex;
        align-items:  center;
        justify-content: center;
        transition: 0.3s;
        img{
            margin-right: .5rem;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}