.nav-bar{
    position: fixed;
    background-color: white;
    width: 100%;
    top:0%;
    padding-top: 1em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .horizontal-line{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4em;
    }
    .paginated{
        display: flex;
        align-items: center;
        gap: 0.7em;
        select{
            width: 3em;
            height: 2.3em;
            border-radius: 0.6em;
            text-align: center;
            transition: 0.3s;
            border: none;
            background-color: #e0e0e0;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
    form{
        position: relative;
        display: flex;
        align-items: center;
        img{
            position: absolute;
            left: 4%;
        }
    }
    .input-search{
        width: 23em;
        height: 2.5em;
        border-radius: 2em;
        padding: 1rm;
        border: #E0E0E0 solid 0.15em;
        padding-left: 2.5em;
        padding-right: 1em;
        transition: 0.2s;
        &:focus{
            outline:0px;
        }
        &:hover{
            box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.2);
        }
    }
    .calendar{
        position: relative;
    }
    .date-button{
        width: 8.5em;
        height: 2.5em;
        border-radius: 2em;
        font-size: 1em;
        border: none;
        background-color: #ffff;
        box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.2);
        display: flex;
        align-items:  center;
        justify-content: space-evenly;
        transition: 0.3s;
        img{
            margin-top: -3px;
            width: 1.12em;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .filter{
        position: relative;
    }
    .filter-button{
        width: 5.93em;
        height: 2.5em;
        border-radius: 2em;
        font-size: 1em;
        border: none;
        background-color: #ffff;
        box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.2);
        display: flex;
        align-items:  center;
        justify-content: space-evenly;
        transition: 0.3s;
        img{
            border-radius: 0.7em 0.7em ;
            width: 1.12em;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    .dark-button{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1em;
        width: 10em;
        height: 2.5em;
        border-radius: 2em;
        background-color: var(--color-secondary);
        color: white;
        border: none;
        display: flex;
        align-items:  center;
        justify-content: center;
        transition: 0.3s;
        img{
            margin-right: .5em;
            width: 1em;
        }
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
}