.filters-container{
    position: absolute;
    top: 122%;
    width: 14rem;
    height: 19rem;
    background: white;
    border: 1px solid #C6C2DE;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}