.filters-container{
    position: absolute;
    top: 122%;
    width: 14em;
    height: 19em;
    background: white;
    border: 1px solid #C6C2DE;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1.25em;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    .sort-by-container{
        width: 85%;
        height: 95%;

        p{
          color: #6e6991;
        }
    }
    .options-container{
      display: flex;
      flex-direction: column;
    }
    .custom-radio {
      width: 100%;
      display:  flex;
      align-items: center;
      justify-content: space-between;
    }

        input::before{
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid gray;
        margin-left: -2px;
        margin-top: -2px;
      }
      
      .custom-radio input:checked::before{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-sizing: border-box;
        border: 6px solid #6c5fcc;
        padding: 3px;
        margin-left: -2px;
        margin-top: -2px;
      }
      h2{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.87em;
        color: #25223a;
      }
}