App{
    width: 100vw;
    height: 100vh;
}
.container-table{
    margin-top: 9em;
    padding-left: 1em;
    padding-right: 1em;
    background: #F7F6FE;
    overflow-x: scroll;

    .container-line{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-rows: 3.625em;
        align-items: center;
        background: #F7F6FE;
        justify-items: center;
    }
    @media (max-width: 540px){
        .container-line{
            grid-template-columns: repeat(3, 1fr);
          
        }
    }
}