body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --color-primary: #F7F6FE;
  --color-secondary: #1D1166;
  --light-green:  #EBF9F1;
  --green: #1F9254;
  --light-green-apple: #F6FBE7;
  --green-apple:#7CA30D;
  --light-purple: #E7E7FB;
  --purple: #100DA3;
  --light-yellow: #FBF3E7;
  --dark-yellow:#A3670D;

  * {
    scrollbar-width: auto;
    scrollbar-color: #808493 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #f7f6fe;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #808493;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  font-size: 16px;
  @media (max-width: 540px){
    font-size: 14px;
  }
}