.multiple-image{
    display: flex;
    max-width: 9rem;
    gap: .4em;
    overflow-x: hidden;
    &:hover{
        overflow-x: scroll;
    }
    img{
        width: 2.5em;
        border-radius: 0.5em;
    }
}